@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --light: #FFFBF2;
  --dark: #1A1100;
  --color: #FFCA68;
  --gray: #CCC8C2;
};

p{
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
}

h1{
  font-family: 'Mansalva', cursive;
}

.scene{
  perspective: 20rem;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-32rem) translateX(-16rem) translateY(-4rem);
  transform-style: preserve-3d;
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel_cell {
  position: absolute;
  width: 14rem;
  height: 20rem;
  font-weight: bold;
}

.carousel_cell:nth-child(1) { transform: rotateY(  0deg) translateZ(35rem); }
.carousel_cell:nth-child(2) { transform: rotateY( 30deg) translateZ(35rem); }
.carousel_cell:nth-child(3) { transform: rotateY( 60deg) translateZ(35rem); }
.carousel_cell:nth-child(4) { transform: rotateY( 90deg) translateZ(35rem); }
.carousel_cell:nth-child(5) { transform: rotateY(120deg) translateZ(35rem); }
.carousel_cell:nth-child(6) { transform: rotateY(150deg) translateZ(35rem); }
.carousel_cell:nth-child(7) { transform: rotateY(180deg) translateZ(35rem); }
.carousel_cell:nth-child(8) { transform: rotateY(210deg) translateZ(35rem); }
.carousel_cell:nth-child(9) { transform: rotateY(240deg) translateZ(35rem); }
.carousel_cell:nth-child(10) { transform: rotateY(270deg) translateZ(35rem); }
.carousel_cell:nth-child(11) { transform: rotateY(300deg) translateZ(35rem); }
.carousel_cell:nth-child(12) { transform: rotateY(330deg) translateZ(35rem); }

h4{
  color: transparent;
  -webkit-text-stroke: 0.1rem var(--color);
}

@media screen and (max-width: 640px) {
  .carousel {
    transform: translateZ(-32rem) translateX(-16rem) translateY(-4rem);
  }

  .carousel_cell {

  }
}

/* width */
::-webkit-scrollbar {
  width: 1.5vmin;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light);
  border-radius: 10vmin;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color);
  border-radius: 10vmin;
}

::-moz-selection { /* Code for Firefox */
  color: var(--light);
  background: var(--color);
}

::selection {
  color: var(--light);
  background: var(--color);
}