@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mansalva&display=swap');

:root{
  --light: #FFFBF2;
  --dark: #1A1100;
  --color: #FFCA68;
  --gray: #CCC8C2;
};

*{
  font-family: 'Lato', sans-serif;
}

h1{
  font-family: 'Mansalva', cursive;
}

/* width */
::-webkit-scrollbar {
  width: 1.5vmin;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light);
  border-radius: 10vmin;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color);
  border-radius: 10vmin;
}